@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
//font-family: 'Bodoni Moda', serif;

.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bodoni Moda", serif;
  font-size: 24px;
  color: rgb(41, 41, 41);
}
